.workPartCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    .imgPart{
        font-size: 6rem;
        display: flex;
        filter: drop-shadow(5px 5px 5px #ffb30e4d);
        color:var(--primaryColor);
    }
    .contentPart{
        text-align: center;
        h3{
            font-size: 1.3rem;
        }
        p{
            color:gray;
            font-size: 0.95rem;
            margin-top: 0.5rem;
        }
    }
}